<header>
    <h2 class="text-3xl font-bold">
        Project Errs <span th:text="${title}"></span>
    </h2>
        <div class="inline-block ml-4">
            <button type="button" onclick="setTheme('errs')">Errs</button>
            <button type="button" onclick="setTheme('dark')">Dark</button>
            <button type="button" onclick="setTheme('light')">Light</button>
            <button type="button" onclick="setTheme('nord-dark')">Nord Dark</button>
            <button type="button" onclick="setTheme('nord-light')">Nord Light</button>
        </div>
    </nav>
</header>